<html>
    <head>
        <meta charset="utf-8"> 
        <title>AgentHome</title> 
        <div>
            <h1>Welcome! {{username}}!</h1>
        </div>
    </head>
    <body>
        <ul>
            <li><a href="/homeAgent/purchasePageAgent">Purchase new ticket</a></li>
            <li><a href="/homeAgent/searchPageAgent">Search Flights</a></li>
            <li><a href="/homeAgent/viewMyCommission">View My Commission</a></li>
            <li><a href="/homeAgent/viewTop5Customers">View Top 5 Customers</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        {% if message %}
        <h2>{{message}}</h2></br>
        {% endif %} 
        
        <h2>Upcoming Flights</h2>
        <table>
            <th>Customer</th>
            <th>Ticket ID</th>
            <th>Flight</th>
            <th>Departure Airport</th>
            <th>Departure Time</th>
            <th>Arrival Airport</th>
            <th>Arrival Time</th>
        
        {% for line in posts %}
        <tr>
            <td>{{line[0]}}</td>
            <td>{{line[1]}}</td>
            <td>{{line[2]}} {{line[3]}}</td>
            <td>{{line[4]}}</td>
            <td>{{line[5]}}</td>
            <td>{{line[6]}}</td>
            <td>{{line[7]}}</td>
        </tr>
        {% endfor %}
        </table><br>

        <h4>View Bought Flights for Specified Duration</h4>
        <div>
            <form action="/homeAgent/viewFlightAgent" method="POST">
            Departure range of dates:<br>
            From<br>
            <input type="date" name = "fromdate" placeholder="date" required>
            <br>To<br>
            <input type="date" name = "todate" placeholder="date" required><br>
            Departure Airport Name and City Name:<br>
            <input type="text" name = "fromairport" placeholder="Airport name" required/>
            <input type="text" name = "fromcity" placeholder="City name" required/></br>
            Arrival Airport Name and City Name:<br>
            <input type="text" name = "toairport" placeholder="Airport name" required/>
            <input type="text" name = "tocity" placeholder="City name" required/></br>
            <input type="submit" value=View>
            </form>
        </div>
    
    
    </body>
</html>
