<!DOCTYPE html>
<html>
<head>
    <title>purchaseAgent</title>
</head>
<body>
<h1>Purchase</h1>
<a href="/homeAgent">Go back to my homepage</a>
<h3>1. Please enter your departure and destination informaion:</h3>
<div>
    <form action="/homeAgent/searchPurchaseAgent" method="POST">
        From <br>
        <input type="text" name = "fromcity" placeholder="city" required>
        <input type="text" name = "fromairport" placeholder="airport" required>
        <input type="date" name = "fromdate" placeholder="date" required> <br><br>
        To <br>
        <input type="text" name = "tocity" placeholder="city" required>
        <input type="text" name = "toairport" placeholder="airport" required>
        <input type="date" name = "todate" placeholder="date" required> <br> <br>
        <input type="submit" value = Search />
    </form>

</div>


<h3>2. Flights available based on your chosen options:</h3>
<div>
    <table>
        <th>Airline Name</th>
        <th>Flight Number</th>
        <th>Departure Airport</th>
        <th>Departure Time</th>
        <th>Arrival Airport</th>
        <th>Arrival Time</th>
        <th>Price</th>
        <th>Airplane ID</th>
      
    {% for line in results %}
        <tr>
            <td>{{line[0]}}</td>
            <td>{{line[1]}}</td>
            <td>{{line[2]}}</td>
            <td>{{line[3]}}</td>
            <td>{{line[4]}}</td>
            <td>{{line[5]}}</td>
            <td>{{line[6]}}</td>
            <td>{{line[7]}}</td>
        </tr>
    {% endfor %}
    </table>
    {% if searchError %}
      <p class="error"><strong>Error:</strong> {{searchError}}</p>
    {% endif %}
</div>

<h3>3. Purchase the flight</h3>
<div>
    <form action="/homeAgent/purchaseAgent" method="POST">
        Who are you buying for? <br>
        <input type="text" name = "customer_email" placeholder="customer_email" required> <br><br>
        Choose the flight: <br>
        Airline Name <br><input type="text" name = "airline_name" placeholder="airline_name" required> <br>
        Flight Number <br><input type="text" name = "flight_num" placeholder="flight_num" required> <br> <br>
        <input type="submit" value = Purchase />
    </form>
    <br><br>
    {% if purchaseError %}
         <p class="error"><strong>Error:</strong> {{purchaseError}}</p>
    {% endif %}
</div>



</body>

</html>