<html>
    <head>
        <title>ViewFlightAgent</title>
        <h1>Welcome! {{username}}!</h1>
    </head>
    
<body>
    <h2>Purchased Flights from {{fromdate}} to {{todate}}</h2>
    <ul>
        <li>
            <a href="/homeAgent">Go back to my home page</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
    </ul> 
    
    <div>
        <table>
            <th>Customer</th>
            <th>Ticket ID</th>
            <th>Flight ID</th>
            <th>Departure Airport</th>
            <th>Departure Time</th>
            <th>Arrival Airport</th>
            <th>Arrival Time</th>
    
            {% for line in posts %}
            <tr>
                <!-- <td>{{line.ticket_id}}</td>
                <td>{{line.airline_name}} {{line.flight_num}}</td>
                <td>{{line.departure_airport}}</td>
                <td>{{line.departure_time}}</td>
                <td>{{line.arrival_airport}}</td>
                <td>{{line.arrival_time}}</td> -->
    
                <td>{{line[0]}}</td>
                <td>{{line[1]}}</td>
                <td>{{line[2]}} {{line[3]}}</td>
                <td>{{line[4]}}</td>
                <td>{{line[5]}}</td>
                <td>{{line[6]}}</td>
                <td>{{line[7]}}</td>
            </tr>
            {% endfor %}
        </table>
        {% if error %}
            <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
    </div>
    

</body>
</html>
